@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Delicious+Handrawn&family=Montserrat:wght@300;400;500&family=Noto+Sans+Mahajani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

.background {
    background: url(images/bg/car-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    margin-top: -145px;
}

.icon-h1-span {
    color: red;
}

.icon-h1-span:hover {
    color: red;
}

.nav-fixed {
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    z-index: 100;
}

.scrolled {
    background: rgb(20,21,31);
    background: linear-gradient(90deg, rgba(20,21,31,1) 0%, rgba(0,16,78,1) 100%); 
    opacity: 98%;
    transition: background-color 0.3s ease;
}

.scrolled .logo, .scrolled .icon-png {
    transform: translateX(100px);
    transition: transform 0.3s ease;
}

.scrolled .contact-container {
    transform: translateX(-100px);
    transition: transform 0.3s ease;
}

.container {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto auto;
    margin-top: 100px;
    justify-content: center;
    gap: 35px;
}

.card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background-color: #ffffff;
    margin: 30px 20px 80px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgb(0,0,0,0,5);
    transition: 0.3s ease-in-out;
}

.card:hover {
    height: 340px;
}

.container img {
    height: 260px;
}

.card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 202px rgb(0,0,0,0,5);
}

.card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
    height: 260px;
}

.card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.spacing {
    height: 400px;
}

.icon-h1 {
    margin-left: 136px;
    display: flex;
    width: 100vw;
}

.icon-png {
    margin-top: 5px;
    transition: transform 0.3s ease;
}

.icon-h1 h3 {
    color: aliceblue;
    font-size: xx-large;
    margin-top: 3px;
    margin-left: 12px;
}

.icon-h1 a {
    color: white;
    font-size: larger;
    text-decoration: none;
    font-weight: 700;
    height: auto;
    display: block;
    margin-top: 8px;
}

.icon-h1 h3 .logo {
    color: white;
    font-size: larger;
    text-decoration: none;
    font-weight: 700;
    height: auto;
    display: block;
    margin-top: 8px;
    transition: transform 0.3s ease;
}

.contact {
    display: flex;
    width: 62%;
    justify-content: right;
}

.contact-container {
    text-align: center;
    border: 1px solid rgb(73, 73, 73);
    height: 35px;
    width: 135px;
    border-radius: 50px;
    transition: all 0.5s;
    margin-top: 10px;
}

.contact-container .contact-a {
    margin: 5px;
    padding-top: 4px;
}

.contact-container:hover {
    background-color: #969595;
    transform: translate(1.2);
}

.container-lp {
    width: 40%;
    margin-left: 135px;
    height: auto;
    margin-top: 75px;
}

.div-h1-lp {
    text-align: center;
    color: aliceblue;
    height: auto;
    position: relative;
}

.div-h1-lp-text-align {
    text-align: left;
    margin-top: 145px;
}

.div-h1-lp-text-align h1 {
    font-size: 66px;
    line-height: 72px;
    font-family: Poppins;
    font-weight: 700;
}

.div-h1-lp .hp {
    top: 0;
    margin-top: 290px;
    margin-left: 203px;
    font-weight: 500;
    width: 288px;
}

.div-h1-lp .hp p {
    color: rgb(204, 215, 224);
}


.text-box {
    height: 40px;
    width: 120px;
    background: rgb(20,21,31);
    background: linear-gradient(90deg, rgba(20,21,31,1) 0%, rgba(119,143,233,1) 74%);
    border: none;
    border-radius: 4px;
    margin-top: 40px;
    transition: background-color 0.5s ease-out;
}

.text-box a {
    text-decoration: none;
    color: white;
    height: 38px;
    width: 117px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.text-box-a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    height: 40px;
}

.info {
    height: 50vh;
}

.grid-info {
    display: grid;
    grid: auto / 400px 400px auto;
}

.grid-info .info-p1 {
    display: flex;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #14151f ;
}

.grid-info .info-p1 p {
    font-family: Poppins;
    font-size: xx-large;
    color: #ffffff;
}

.grid-info .info-p2 {
    display: flex;
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: #0a0b0f  ;
}

.grid-info .info-p2 p {
    font-family: Poppins;
    font-size: xx-large;
    color: #ffffff;
}

.info-img {
    background-image: url(images/icon/dealing.jpg);
    background-size: cover;
    background-position: center;
}

.container-gallery{
    height: 290vh;
    background-color: black;
}

.line {
    width: 100%;
}

.line .line-gallery {
    border: solid rgb(86, 86, 86) 1px;
    width: 28%;
    margin-left: 35%;
}

.div-h1-gallery {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.grid img {
    height: 251px;
    margin-top: 67px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid: auto / auto auto auto;
    margin-left: 20px;
}

div.lexus,
div.audi,
div.mercGT,
div.mercSL,
div.jaguar,
div.alpine,
div.corvette,
div.lotus,
div.p718,
div.p911 {
    width: 421px;
}

span {
    font-weight: bolder;
    text-align: left;
    cursor: pointer;
    transition: all 0.5s;
}

span:hover {
    color: violet;
    transform: translate(1.2);
}

.desc {
    text-align: left;
    font-size: smaller;
    font-weight: normal;
}

.section-contact {
    height: 80vh;
    background-color: #969595;
}

div.contact-h1 {
    width: 100%;
    text-align: center;
    padding-top: 35px;
    margin-left: -2px;
}

.contact-h1 h1 {
    font-size: xxx-large;
}

div.contact-h1 h1 {
    font-family: serif;
}

.container-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: left;
    align-items: center;
}

.media {
    text-align: center;
    width: 190px;
}

.social {
    display: grid;
    grid: auto / 350px 350px 350px;
    margin-top: 65px;
    margin-left: 150px;
}

.social-icon img {
    height: 50px;
}

.social-h {
    margin-top: 15px;
}

.social-h h2 {
    text-decoration: underline;
}

.renz-name {
    margin-top: 35px;
}

.adrian-name {
    margin-top: 35px;
}

.email {
    cursor: pointer;
    transition: all 0.5s;
    display: inline-block;
}

.email:hover {
    transform: scale(1.2);
    color: #ffffff;
}

.container-case {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.case {
    text-align: center;
    width: 190px;
}

.case-icon img {
    height: 50px;
}

.case-h {
    margin-top: 15px;
}

.case-h h2 {
    text-decoration: underline;
}

.case-p {
    margin-top: 25px;
}

.case-a {
    margin-top: 35px;
}

.case-a-button {
    height: 40px;
    background-color: rgb(194, 194, 194);
    transition: all 0.5s;
}

.case-a-button:hover {
    background-color: rgb(243, 243, 243);
    transform: translate(1.2);
}

.case-a .case-a-button a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 28, 28);
    height: 39px;
    width: 189px;
    align-items: center;
    justify-content: space-around;
}

.container-live {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: right;
    align-items: flex-start;
}

.live {
    text-align: center;
    width: 150px;
}

.live-icon img {
    height: 50px;
}

.live-h {
    margin-top: 15px;
}

.live-h h2 {
    text-decoration: underline;
}

.live-p {
    margin-top: 25px;
}

.live-a {
    margin-top: 35px;
}

.live-a-button {
    height: 40px;
    background-color: rgb(194, 194, 194);
    transition: all 0.5s;
}

.live-a-button a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 28, 28);
    height: 39px;
    align-items: center;
    justify-content: space-around;
}

.live-a-button:hover {
    background-color: rgb(243, 243, 243);
    transform: translate(1.2);
}

