@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Delicious+Handrawn&family=Montserrat:wght@300;400;500&family=Noto+Sans+Mahajani&display=swap');

* {
    margin: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

.background {
    background: url(images/bg/car-bg.jpg);
    background-size: cover;
    height: 100vh;
}

.icon-h1 {
    margin-left: 170px;
    padding: 30px;
    display: flex;
}

.icon-h1 h3 {
    color: aliceblue;
    font-size: xx-large;
}

.icon-h1 a {
    color: white;
    font-size: larger;
    text-decoration: none;
    font-weight: 700;
    height: auto;
    display: block;
    margin-top: 5px;
}

.contact {
    display: flex;
    width: 75%;
    justify-content: right;
}

.contact-container {
    text-align: center;
    border: 1px solid rgb(73, 73, 73);
    height: 30px;
    width: 120px;
    border-radius: 50px;
    transition: all 0.5s;
}

.contact-container:hover {
    background-color: #969595;
    transform: translate(1.2);
}

.container-lp {
    border: white 1px solid;
    width: 50%;
    margin: auto;
    height: 450px;
    margin-top: 25px;
}

.blur {
    height: 450px;
    filter: blur(3px);
    backdrop-filter: blur(5px);
}

.div-h1-lp {
    text-align: center;
    color: aliceblue;
}

.div-h1-lp h1 {
    position: absolute;
    top: 0;
    margin-top: 125px;
    left: 0;
    right: 0;
}

.div-h1-lp .hp {
    position: absolute;
    top: 0;
    margin-top: 290px;
    margin-left: 203px;
    font-weight: 500;
    width: 288px;
}

.div-h1-lp .hp p {
    color: rgb(204, 215, 224);
}

.div-h1-lp a {
    position: absolute;
    top: 0;
    margin-top: 413px;
    margin-left: 44%;
    left: 0;
    right: 0;
    width: 100px;
    border: none;
    cursor: pointer;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: green;
    color: #d5d0d0;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: rgb(3, 155, 3);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container-gallery{
    height: 270vh;
    background-color: black;
}

.line {
    width: 100%;
}

.line .line-gallery {
    border: solid rgb(86, 86, 86) 1px;
    width: 30%;
    margin-left: 35%;
}

.div-h1-gallery {
    color: white;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.grid img {
    height: 251px;
    margin-top: 67px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid: auto / auto auto auto;
    margin-left: 20px;
}

div.lexus,
div.audi,
div.mercGT,
div.mercSL,
div.jaguar,
div.alpine,
div.corvette,
div.lotus,
div.p718,
div.p911 {
    width: 421px;
}

span {
    font-weight: bolder;
    text-align: left;
    cursor: pointer;
    transition: all 0.5s;
}

span:hover {
    color: violet;
    transform: translate(1.2);
}

.desc {
    text-align: left;
    font-size: smaller;
}

.section-contact {
    height: 70vh;
    background-color: #969595;
}

div.contact-h1 {
    width: 100%;
    text-align: center;
    padding-top: 35px;
}

.contact-h1 h1 {
    font-size: xxx-large;
}

div.contact-h1 h1 {
    font-family: serif;
}

.container-media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: left;
    align-items: center;
}

.media {
    text-align: center;
    width: 190px;
}

.social {
    display: grid;
    grid: auto / 350px 350px 350px;
    margin-top: 65px;
    margin-left: 150px;
}

.social-icon img {
    height: 50px;
}

.social-h {
    margin-top: 15px;
}

.social-h h2 {
    text-decoration: underline;
}

.renz-name {
    margin-top: 35px;
}

.adrian-name {
    margin-top: 35px;
}

.email {
    cursor: pointer;
    transition: all 0.5s;
    display: inline-block;
}

.email:hover {
    transform: scale(1.2);
    color: #ffffff;
}

.container-case {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.case {
    text-align: center;
    width: 190px;
}

.case-icon img {
    height: 50px;
}

.case-h {
    margin-top: 15px;
}

.case-h h2 {
    text-decoration: underline;
}

.case-p {
    margin-top: 25px;
}

.case-a {
    margin-top: 35px;
}

.case-a-button {
    height: 40px;
    background-color: rgb(194, 194, 194);
    transition: all 0.5s;
}

.case-a-button:hover {
    background-color: rgb(243, 243, 243);
    transform: translate(1.2);
}

.case-a .case-a-button a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 28, 28);
    height: 39px;
    width: 189px;
    align-items: center;
    justify-content: space-around;
}

.container-live {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: right;
    align-items: flex-start;
}

.live {
    text-align: center;
    width: 150px;
}

.live-icon img {
    height: 50px;
}

.live-h {
    margin-top: 15px;
}

.live-h h2 {
    text-decoration: underline;
}

.live-p {
    margin-top: 25px;
}

.live-a {
    margin-top: 35px;
}

.live-a-button {
    height: 40px;
    background-color: rgb(194, 194, 194);
    transition: all 0.5s;
}

.live-a-button a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: rgb(28, 28, 28);
    height: 39px;
    align-items: center;
    justify-content: space-around;
}

.live-a-button:hover {
    background-color: rgb(243, 243, 243);
    transform: translate(1.2);
}